.content-salon {
  flex: 1 0 0;
}
.slider-booking {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-booking .slider-track-salon {
  height: 100%;
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
  gap: var(--px-16);
}
.list-salon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  gap: 32px;
  flex-shrink: 0;
  flex-wrap: wrap;
  background: #eceef0;
  padding: 20px 80px;
}
.item-salon {
  display: flex;
  width: 400px;
  height: 208px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(74deg, #fff 0.14%, #fff 99.86%);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #c9c9c9;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.text-storename {
  display: -webkit-box; /* cần cho -webkit-line-clamp */
  -webkit-box-orient: vertical; /* cần cho -webkit-line-clamp */
  -webkit-line-clamp: 3; /* số dòng tối đa */
  overflow: hidden; /* ẩn phần dư và show ellipsis */
  text-overflow: ellipsis; /* tốt để có ellipsis (chủ yếu 1 dòng nhưng vẫn hữu ích) */
  /* tuỳ chọn hiển diện */
  line-height: 1.3; /* thiết lập line-height rõ ràng */
  max-height: calc(1.3em * 3); /* bảo đảm chiều cao khớp (tùy browser) */
}

.item-salon:hover {
  border: 1px solid var(--bs-main);
  /* shadow mạnh hơn chút */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /* nổi nhẹ lên */
  transform: translateY(-0.6px);
}

.infor-salon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}
.wrap-avt {
  width: 64px;
  height: 64px;
  aspect-ratio: 1/1;
  border-radius: 360px;
  border: 2px solid var(--White-Transparent-50, rgba(255, 255, 255, 0.5));
  background: lightgray 50% / cover no-repeat;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
}
.avt-salon {
}
.salon-address h1 {
  align-self: stretch;
  color: #eb5781;

  /* Medium/Bold */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.salon-address {
}
.address {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.address .icon-address {
  width: 24px;
  height: 24px;
}
.address .text-address {
  flex: 1 0 0;
  color: var(--text-colo-primary);
  font: normal normal 500 var(--s-16);
}
.book-now {
}
.book-now .book-salon {
  flex: 1 0 0;
  font: normal normal 600 var(--s-16);
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: var(--bs-main);
  text-align: center;
  border-radius: 8px;
  background: var(--Gray-Neutral-100, #fff);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

  transition: background-color 0.3s ease, border 0.1s ease;
}
.book-now .book-salon:hover {
  border: 1px solid var(--bs-main);
  background-color: var(--bs-main-100);
}

.slider-btn-booking {
  width: var(--px-40);
  height: var(--px-40);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 100%;
  padding: 8px 12px;
  cursor: pointer;
  color: var(--text-color-primary);
  background: linear-gradient(to right, #fdfdfd 0%, #eceef0 100%);
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slider-btn-booking.prev {
  left: 24px;
}
.slider-btn-booking.next {
  right: 24px;
}

.image-fallback {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  color: var(--color-img);
  background-color: var(--bg-img);
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .list-salon {
    padding: 20px;
  }
  .item-salon {
    width: 100%;
  }
}
