.content-choose-time {
  flex: 1 0 0;
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 16px 0; */
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0 0 9px 9px;
  background: #eceef0;
  position: relative;
  overflow: hidden;
}
.container-choose-time {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  height: 448px;
  gap: 48px;
}
.container-choose-time .line-ca-ti {
  width: 1px;
  background-color: #c9c9c9;
  height: 100%;
}

.timeslot {
  width: 45%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-radius: var(--px-12);
  background: transparent;
  box-shadow: none;
}

.time-slots {
  display: flex;
  /* grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: max-content; */
  flex-direction: column;
  gap: 16px;
  padding: 8px 16px;
  flex: 1 0 0; /* có thể bỏ nếu không cần flex trong parent */
  overflow-x: hidden;
  overflow-y: auto;
  max-height: none;
}

.best-fit-text {
  position: absolute;
  top: -8px;
  right: -10px;
  display: flex;
  padding: 2px 6px 3px 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 36px;
  border: 1px solid var(--Gray-Neutral-100, #fff);
  background: linear-gradient(97deg, #d9f5f9 0%, #c0eff5 100%);
  font: normal normal 600 var(--s-10);
  color: #27717f;
}

.time-slots h2 {
  text-align: center;
  padding: var(--px-12);
  font: normal normal 500 var(--s-24);
}
.slot-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.slot-group-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 5px;
  column-gap: 8px;
}
.slot-group-title {
  font: normal normal 600 var(--s-16);
}

.time-slot-1 {
  position: relative;
  display: flex;
  padding: 14px 12px;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
  cursor: pointer;
  background: #c9c9c9;
  cursor: not-allowed;
  transition: all 0.3s ease;
}
.time-slot-1.active {
  background: var(--Gray-Neutral-100, #fff);
  border: 1px solid var(--Gray-Neutral-90, #e5e5e5);
  background: var(--White, #fff);
  cursor: pointer;
}

.time-slot-1.active.selected .best-fit-text {
  display: none;
}
.time-slot-1.active.selected .circle {
  display: flex;
}

.time-slot-1.active:hover {
  border: 1px solid var(--bs-main);
}
.time-slot-1 span:first-child {
  font: normal normal 500 var(--s-15);
}
.time-slot-1 span {
  font: normal normal 400 var(--s-15);
}
.time-slot-1.active.selected {
  background: var(--bs-main);
  color: white;
  border: 1px solid var(--bs-main);
}

.time-slot-1 .circle {
  width: 21px;
  height: 21px;
  border: 2px solid var(--bs-main);
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -8px;
  background-color: var(--bs-main);
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05),
    0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Dot bên trong khi selected */
.time-slot-1.selected .circle .dot {
  width: var(--px-12); /* 20 - 2*border - 2*padding = ~12 */
  height: var(--px-12);
  background-color: var(--bs-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional: smooth transition */
.time-slot-1 .circle,
.time-slot-1 .dot {
  transition: all 0.2s ease;
}

.day.active {
  background-color: var(--bs-main) !important;
  color: white !important;
}
.day.unactive {
}

.day {
  display: flex;
  width: 50px;
  height: 50px;
  min-width: 50px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
}
.day:not(.active):not(.past)::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #3ba755;
  bottom: 2px;
  left: 44%;
}
.calendar-header button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 100%;
}
.calendar-header button:hover {
  color: var(--bs-main);
  border: 1px solid var(--bs-main);
}

.day-name {
  font: normal normal 300 var(--s-20);
  color: var(--text-color-primary);
  display: flex;
  width: 50px;
  padding: var(--px-8) var(--px-24);
  justify-content: center;
  align-items: center;
}
.text-choose-time {
  background-color: #eceef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.text-choose-time .wrap-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-choose-time .wrap-title .title {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
}
.text-choose-time .title::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #aeaeae;
  position: absolute;
  left: 108%;
  top: 50%;
}

.text-choose-time .title::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #aeaeae;
  position: absolute;
  right: 108%;
  top: 50%;
}

.text-choose-time .desc {
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--text-color-primary);
}
.wrap-calendar-timeslot {
  width: 100%;
}
.calendar {
  width: 48%;
}
.calendar-timeslot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: transparent;
}

.wrap-help-support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eceef0;
  padding-bottom: 24px;
}

.wrap-help-support .contact-to {
  background: linear-gradient(
    90deg,
    #eceef0 0%,
    #fff 24.04%,
    #fff 48.08%,
    #fff 75.48%,
    #eceef0 100%
  );
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
}

.wrap-help-support .ques-see {
  font: normal normal 500 var(--s-14);
}

.wrap-help-support .contact-to .need-help {
  font: normal normal 600 var(--s-14);
}
.wrap-help-support .contact-to .call-us {
  font: normal normal 600 var(--s-14);
}
.wrap-help-support .contact-to .phone-contact {
  font: normal normal 600 var(--s-18);
  color: #eb5781;
}

.footer-choose-time {
  background-color: #eceef0;
}
.bg-choose-time {
  background-color: #eceef0;
}

/* css content popup */

/* start css popup content verify */
.popup-wrap-verify-emailPhone {
  background: white;
  display: flex;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.title-appointment {
}
.title-appointment h2 {
  color: var(--text-color-primary);
  text-align: center;
  font: normal normal 500 var(--s-20);
  line-height: var(--px-24); /* 120% */
  margin-bottom: 0px;
}
.container-verify-emailPhone {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px var(--px-12);
  gap: var(--px-8);
  align-self: stretch;
  border-radius: var(--px-10);
  background: #fff;
  margin-bottom: 0px;
}
.appointment-input {
  color: var(--text-color-primary);
  font: normal normal 400 var(--s-16);
  line-height: var(--px-20);
  border-radius: var(--px-10);
  border: 1px solid var(--Gray-Neutral-65, #a0a0a0);
  background: #fff;
  display: flex;
  flex: 1 0 0;
  padding: var(--px-14) var(--px-12);
  align-items: center;
  gap: var(--px-8);
  align-self: stretch;
}
.appointment-input:focus-visible {
  outline: 2px solid var(--bs-main);
  border: none;
}

.consent-container {
  display: flex;
  align-items: flex-start;
  gap: var(--px-8);
  align-self: stretch;
}
.consent-container .wrap-icon-checked {
  width: var(--px-20);
  height: var(--px-20);
  background-color: var(--bs-main);
  color: white;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  border-radius: var(--px-16);
  font-size: var(--px-12);
  position: relative;
  top: var(--px-4);
}
.consent-container label {
  color: var(--text-color-primary);
  font: normal normal 300 var(--s-20);
  line-height: var(--px-24); /* 120% */
}
.button-container {
  display: flex;
  align-items: center;
  gap: var(--px-8);
  align-self: stretch;
}
.clear-icon {
  height: 28px;
  width: 28px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: var(--px-24);
  top: 25.5px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: var(--px-14);
  transition: all 0.3s ease;
}
.clear-icon:hover {
  color: var(--bs-main);
  border-radius: 100%;
  border: 1px solid var(--bs-main);
}

.btn-back-emailPhone {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--Foundation-Green-Light, #e6eee8);
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-20);
}
.btn-next-emailPhone {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: flex-start;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--bs-main);
  color: white;
  font: normal normal 600 var(--s-20);
}
.btn-next-emailPhone:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-next-emailPhone:hover {
  filter: brightness(0.9);
}

.btn-back-emailPhone:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: var(--px-14);
  padding-left: var(--px-8);
  margin-bottom: 0px;
}

.btn-back-emailPhone-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--Foundation-Green-Light, #e6eee8);
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-20);
}
.btn-next-emailPhone-1 {
  width: 50%;
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: flex-start;
  gap: var(--px-4);
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--bs-main, #0c7e2d);
  color: white;
  font: normal normal 600 var(--s-20);
}
.btn-next-emailPhone-1:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-next-emailPhone-1:hover {
  filter: brightness(0.9);
}

.btn-back-emailPhone-1:hover {
  filter: brightness(0.95);
  cursor: pointer;
}
/* end css form verify phone/email */

/* start css form policies */
.wrap-popup-policies {
  display: flex;
  height: 600px;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.wrap-popup-descbl {
  display: flex;
  height: fit-content;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.wrap-popup-descbl .content-desc {
  font: normal normal 600 var(--s-20);
}
.title-timeoff {
  width: 100%;
  display: flex;
}
.title-policies {
  flex: 1 0 0;
  color: var(--text-color-primary);
  font: normal normal 700 var(--s-20);
  line-height: var(--px-24);
}
.timeoff {
  display: block;
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-16);
}
.timeoff.hidden {
  display: none;
}
.content-policies {
  height: 80%;
  overflow-y: scroll;
}
.button-container .btn-back-policies-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: #e6eee8;
  flex: 1 0 0;

  color: var(--text-color-primary);
  font: normal normal 700 var(--s-20);
}

.button-container .btn-next-policies-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: flex-start;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--bs-main, #0c7e2d);
  color: white;
  font: normal normal 700 var(--s-20);
}

.button-container .btn-back-policies-1:hover,
.button-container .btn-next-policies-1:hover {
  filter: brightness(0.95);
}
/* end css form policies */

/* start css form payment method*/
.wrap-popup-payment-methods {
  display: flex;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.header-popup-payment {
  width: 100%;
  display: flex;
  align-items: center;
}
.title-payment {
  display: flex;
  flex: 1 0 0;
  color: var(--text-color-primary);
  font: normal normal 700 var(--s-20);
}
.header-popup-payment .time-off {
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-16);
}
.wrap-popup-payment-methods .subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap-popup-payment-methods .subtitle .subtitle-text {
  color: var(--text-color-primary);
  font: normal normal 500 var(--s-20);
  line-height: var(--px-24); /* 120% */
}
.wrap-popup-payment-methods .add-new-card-btn-1 {
  display: flex;
  align-items: center;
  gap: var(--px-8);
  color: var(--bs-main);
  text-align: center;
  font: normal normal 500 var(--s-16);
  cursor: pointer;
  transition: text-shadow 0.2s ease;
}
.wrap-popup-payment-methods .add-new-card-btn-1:hover {
  text-shadow: 0.3px 0 0 var(--bs-main), -0.3px 0 0 var(--bs-main);
}
.wrap-popup-payment-methods .add-new-card-btn-1 i {
  width: var(--px-24);
  height: var(--px-24);
  display: flex;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.payment-methods-list {
  width: 100%;
  max-height: var(--px-360);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--px-8);
  padding-right: var(--px-8);
}
.payment-method-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  height: var(--px-56);
  padding: 0 var(--px-12);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--px-12);
  border: 1px solid var(--Gray-4, #ebebeb);
  background: var(--White, #fff);
  cursor: pointer;
}
.payment-method-item:hover {
  border: 1px solid var(--bs-main);
}
.wrap-name-method {
  display: flex;
  gap: var(--px-16);
  align-items: center;
}
.wrap-img-method {
}
.name-numbercard {
}
.name-numbercard .name-method {
}
.payment-method-item .circle {
  width: 20px;
  height: 20px;
  border: 2px solid var(--bs-main);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-method-item.selected .circle .dot {
  width: var(--px-12);
  height: var(--px-12);
  background-color: var(--bs-main);
  border-radius: 50%;
}
.payment-summary {
  display: flex;
  padding: var(--px-12) var(--px-24);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--px-8);
  align-self: stretch;
  border-radius: var(--px-12);
  background: var(--Gray-4, rgba(209, 209, 209, 0.2));
}
.payment-summary.hide-price {
  display: none;
}
.sub-deposit {
  display: flex;
  width: 100%;
}
.cur-deposit {
  display: flex;
  width: 100%;
}
.sub-deposit-1r {
  display: flex;
  flex: 1 0 0;
  color: var(--Gray-Neutral-50, #747474);
  font: normal normal 500 var(--s-14);
}
.sub-deposit-1l {
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-14);
}
.sub-deposit-2r {
  display: flex;
  flex: 1 0 0;
  color: var(--Gray-Neutral-50, #747474);
  font: normal normal 500 var(--s-16);
}
.sub-deposit-2l {
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-28);
}
.btn-back-payment-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--Foundation-Green-Light, #e6eee8);
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-20);
}
.btn-next-payment-1 {
  display: flex;
  position: relative;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-8);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--bs-main);
  color: #fff;
  font: normal normal 600 var(--s-20);
}

.btn-next-payment-1 .btn-loader {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.btn-next-payment-1:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-back-payment-1:hover,
.btn-next-payment-1:hover {
  filter: brightness(0.95);
}
/* end css form payment methods */

/* start css form add new payment methods */
.wrap-popup-add-card {
  height: 100%;
  display: flex;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
  overflow-y: scroll;
}
.subtitle-card-new {
  width: 100%;
}
.subtitle-card-new .subtitle {
  color: var(--text-color-primary);
  font: normal normal 500 var(--s-20);
}
.wrap-form-group-card-new {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
  padding-right: var(--px-8);
}
.form-group-card-new {
  width: 96%;
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
  margin-left: 4px;
}
.form-group-card-new label,
.group-card-ex label,
.group-card-ccv label {
  display: flex;
  gap: var(--px-8);
  color: var(--text-color-primary);
  font: normal normal 500 var(--s-16);
}

.form-group-card-new input,
.group-card-ex input,
.group-card-ccv input {
  display: flex;
  padding: var(--px-16) var(--px-12);
  align-items: center;
  gap: var(--px-8);
  align-self: stretch;
  border-radius: var(--px-12);
  border: 1px solid var(--Gray-2, #979797);
  background: rgba(255, 255, 255, 0.9);
}
.form-group-card-new label p,
.form-row-card-new label p {
  color: red;
}
.form-row-card-new {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin-left: 4px;
}
.form-row-card-new .group-card-ex {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}
.form-row-card-new .group-card-ccv {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}
.form-group-card-new input:focus-visible,
.group-card-ex input:focus-visible,
.group-card-ccv input:focus-visible {
  border: none;
  outline: 2px solid var(--bs-main);
}
.form-group-card-sub {
  display: flex;
  width: 100%;
}
.form-group-card-sub .checkbox-add-card {
  display: flex;
  align-items: center;
  gap: var(--px-12);

  padding-top: 2px;
}

.form-group-card-sub .checkbox-add-card .circle-add-card {
  width: var(--px-20);
  height: var(--px-20);
  border: 2px solid var(--bs-main);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.form-group-card-sub .checkbox-add-card .circle-add-card i {
  font-size: var(--px-12);
  color: var(--bs-main);
  display: none;
}
.btn-back-add-card-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--Foundation-Green-Light, #e6eee8);
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-20);
}
.btn-add-card-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: flex-start;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--bs-main);
  color: #fff;
  font: normal normal 600 var(--s-20);
}
.btn-back-add-card-1:hover .btn-add-card-1:hover {
  filter: brightness(0.95);
}
/* end css form add new payment methods */

/* sumary */

.container-sumary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--px-40);
  align-self: stretch;
  margin-bottom: var(--px-40);
}
.header-sumary {
  display: flex;
  justify-content: center;
  width: 435px;
  /* height: 184px; */
  padding: var(--px-20);
  flex-direction: column;
  align-items: flex-start;
  /* gap: 52px; */
  align-items: center;
}

.top-item-sumary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--px-12) var(--px-12) 0px var(--px-12);
}
.user-book {
  width: 100%;
}
.user-book h2 {
  text-align: center;
  padding: var(--px-8) var(--px-16) var(--px-8) 0px;
  margin-bottom: 0px;
}
.left-top-item-sumary {
  display: flex;
  align-items: center;
}
.edit-sumary {
  min-width: 100px;
  justify-content: center;
  gap: var(--px-8);
  border-radius: var(--px-4);
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #905a01;
  padding: var(--px-4);
}
.delete-sumary {
  min-width: 100px;
  justify-content: center;
  gap: var(--px-8);
  border-radius: var(--px-4);
  display: flex;
  align-items: center;
  background: transparent;
  color: red;
  border: none;
  padding: var(--px-4);
}
.delete-sumary svg {
  height: var(--px-20);
  width: var(--px-20);
  display: flex;
  flex-shrink: 0;
}
.edit-sumary:hover,
.delete-sumary:hover {
  background-color: #d3d3d3;
}
.right-top-item-sumary button {
  color: white;
  display: flex;
  padding: var(--px-8) var(--px-12);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  border-radius: var(--px-6);
  border: 1px solid var(--foundation-green-light-active, #b1c9b8);
  background: var(--bs-main);
}
.right-top-item-sumary button:hover {
  filter: brightness(0.95);
}
.btn-upload-image {
  background: transparent;
  color: white;
  border: none;
}
.body-item-sumary {
  width: 100%;
}
.wrap-item-content {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--px-12);
}
.item-content {
  width: 100%;
}
.item-content .p-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.action-item-ser {
  width: 6%;
  display: flex;
  align-items: center;
  gap: var(--px-8);
  justify-content: end;
}
.action-item-ser .delete-item-ser {
  background: transparent;
  color: red;
  border: none;
  margin-bottom: 0px;
  padding: var(--px-4);
  border-radius: var(--px-4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-item-ser .delete-item-ser svg {
  height: var(--px-20);
  width: var(--px-20);
  display: flex;
  flex-shrink: 0;
}

/* .action-item-ser .edit-item-ser:hover, */
.action-item-ser .delete-item-ser:hover {
  background-color: #d3d3d3;
}

.item-content .text-name-service {
  width: 32.5%;
  margin-bottom: 0px;
}

.item-content .text-name-tech {
  width: 26%;
  margin-bottom: 0px;
}
.item-content .text-time-dura {
  width: 13%;
  margin-bottom: 0px;
}
.item-content .text-price-serice {
  width: 24.5%;
  text-align: right;
  margin-bottom: 0px;
}
.total-pay {
  width: 100%;
  padding: var(--px-12);
  display: flex;
  border-top: 1px solid #d3d3d3;
}
.total-pay .text-total-amount {
  width: 58.5%;
  margin-bottom: 0px;
}
.total-pay .text-total-times {
  width: 13%;
  margin-bottom: 0px;
}

.total-pay .text-total-price {
  width: 24.5%;
  margin-bottom: 0px;
  text-align: right;
  color: red;
}

.confirm-booking {
}
.confirm-booking .btn-confirm-booking {
  display: flex;
  padding: var(--px-12) var(--px-24);
  gap: var(--px-8);
  justify-content: center;
  align-items: center;
  border-radius: var(--px-12);
  border: 1px solid var(--foundation-green-light-active, #b1c9b8);
  background: var(--bs-main);
  font: normal normal 600 var(--s-20);
  color: white;
}
.confirm-booking .btn-confirm-booking:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.confirm-booking .btn-confirm-booking:hover {
  filter: brightness(0.95);
}

.btn-skip-verify {
  width: 50%;
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: flex-start;
  gap: var(--px-4);
  border-radius: var(--px-12);
  background-color: transparent;
  font: normal normal 600 var(--s-20);
  border: none;
  color: #ff538a;
  transition: all 0.3 ease;
}
.btn-skip-verify:hover {
  filter: brightness(0.95);
  border: 1px solid #ff538a;
}

/* start css form register user */
.wrap-popup-register {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.wrap-popup-register input:read-only {
  background-color: #d3d3d3;
  border: none;
}
.wrap-popup-register input:read-only:focus-visible {
  outline: none;
  border: none;
}
.title-register {
  color: var(--text-color-primary);
  text-align: center;
  font: normal normal 600 var(--s-24);
  line-height: 28px;
  margin-bottom: 0px;
}
.pa-intro-register p {
  color: var(--text-color-primary);
  text-align: center;
  font: normal normal 400 var(--px-16);
  line-height: var(--px-20);
  margin-bottom: 0px;
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}
.form-input-phone,
.form-input-email,
.form-input-zipcode {
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}
.form-group label {
  height: var(--px-20);
  align-self: stretch;
  color: var(--text-color-primary);
  font: normal normal 500 var(--text-color-primary);
  display: flex;
  gap: var(--px-8);
}
.form-input-fullname {
  display: flex;
  gap: var(--px-12);
}
.form-input-firstname-register,
.form-input-lastname-register {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}
.form-group label p {
  color: red;
}
.form-group input:focus-visible {
  outline: 2px solid var(--bs-main);
  border: none;
}
/* end css form register user */

/* start css popup content verify */
.popup-wrap-verify-emailPhone {
  background: white;
  display: flex;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.title-appointment {
}
.title-appointment h2 {
  color: var(--text-color-primary);
  text-align: center;
  font: normal normal 500 var(--s-20);
  line-height: var(--px-24); /* 120% */
  margin-bottom: 0px;
}
.container-verify-emailPhone {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px var(--px-12);
  gap: var(--px-8);
  align-self: stretch;
  border-radius: var(--px-10);
  background: #fff;
  margin-bottom: 0px;
}
.appointment-input {
  color: var(--text-color-primary);
  font: normal normal 400 var(--s-16);
  line-height: var(--px-20);
  border-radius: var(--px-10);
  border: 1px solid var(--Gray-Neutral-65, #a0a0a0);
  background: #fff;
  display: flex;
  flex: 1 0 0;
  padding: var(--px-14) var(--px-12);
  align-items: center;
  gap: var(--px-8);
  align-self: stretch;
}
.appointment-input:focus-visible {
  outline: 2px solid var(--bs-main);
  border: none;
}

.consent-container {
  display: flex;
  align-items: flex-start;
  gap: var(--px-8);
  align-self: stretch;
}
.consent-container .wrap-icon-checked {
  width: var(--px-20);
  height: var(--px-20);
  background-color: var(--bs-main);
  color: white;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  border-radius: var(--px-16);
  font-size: var(--px-12);
  position: relative;
  top: var(--px-4);
}
.consent-container label {
  color: var(--text-color-primary);
  font: normal normal 300 var(--s-20);
  line-height: var(--px-24); /* 120% */
}
.button-container {
  display: flex;
  align-items: center;
  gap: var(--px-8);
  align-self: stretch;
}
/* Bổ sung navigate register */
.register-nav {
}
.text-ques-regis {
  /* color: var(--bs-main); */
}
.nav-tab-register {
  position: relative;
  color: var(--bs-main);
  transition: text-shadow 0.2s ease, color 0.2s ease;
  cursor: pointer;
}
.nav-tab-register:hover {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}
.nav-tab-register::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -2px;
  left: 0px;
  height: 1px;
  background-color: var(--bs-main);
}
.btn-back-emailPhone {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--Foundation-Green-Light, #e6eee8);
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-20);
}
.btn-next-emailPhone {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: flex-start;
  gap: var(--px-4);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--bs-main, #0c7e2d);
  color: white;
  font: normal normal 600 var(--s-20);
}
.btn-next-emailPhone:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-next-emailPhone:hover {
  filter: brightness(0.9);
}

.btn-back-emailPhone:hover {
  filter: brightness(0.95);
  cursor: pointer;
}
/* css otp */
.popup-wrap-verify-code {
  display: flex;
  padding: var(--px-32);
  flex-direction: column;
  align-items: center;
  gap: var(--px-24);
  border-radius: var(--px-24);
  background: #fff;
  box-shadow: 0 0 var(--px-12) 0 rgba(0, 0, 0, 0.16);
}
.title-verify-number h2 {
  color: var(--text-color-primary);
  text-align: center;
  font: normal normal 700 var(--s-20);
  line-height: var(--px-24);
  margin-bottom: 0px;
}
.desc-verify {
  color: var(--text-color-primary);
  text-align: center;
  font: normal nor 500 var(--s-20);
  line-height: var(--px-24);
  margin-bottom: 0px;
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: var(--px-10);
  margin: var(--px-16) 0;
}
.otp-box {
  width: var(--px-40);
  height: var(--px-52);
  text-align: center;
  font-size: var(--px-24);
  border: 2px solid #ccc;
  border-radius: var(--px-10);
  color: var(--text-color-primary);
}
.otp-box:focus-visible {
  outline: 2px solid var(--bs-main);
  border: none;
}
.resend-wrapper {
  color: var(--text-color-primary);
  text-align: center;
  font: normal normal 400 var(--s-16);
  line-height: var(--px-20);
}
.resend-btn {
  color: var(--bs-main);
  font-weight: bold;
  cursor: pointer;
}
.resend-btn.disabled {
  color: gray;
  pointer-events: none;
}
.btn-back-verify-1,
.btn-back-verify-register-1 {
  width: 35%;
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-4);
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  background: var(--Foundation-Green-Light, #e6eee8);
  color: var(--text-color-primary);
  font: normal normal 600 var(--s-20);
}
.btn-next-verify-1,
.btn-next-verify-register-1 {
  display: flex;
  padding: var(--px-12) var(--px-24);
  justify-content: center;
  align-items: center;
  gap: var(--px-8);
  flex: 1 0 0;
  border-radius: var(--px-12);
  border: 1px solid var(--bs-main);
  opacity: 1;
  background: var(--bs-main, #0c7e2d);
  color: #fff;
  font: normal normal 600 var(--s-20);
}
.btn-next-verify-1:hover,
.btn-back-verify-1:hover,
.btn-back-verify-register-1:hover,
.btn-next-verify-register-1:hover {
  filter: brightness(0.95);
}

.btn-next-verify-register-1:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-next-verify-1:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
/* end css popup content verify */
/* start css popup content info */
.popup-wrap-user-info {
  text-align: left;
  font-family: sans-serif;
}

.title-user-info h2 {
  font-size: var(--px-20);
  margin-bottom: var(--px-5);
}

.service-count {
  background: #ff3333;
  color: white;
  padding: 2px var(--px-8);
  border-radius: var(--px-6);
  margin-left: var(--px-6);
}

.form-user-info {
  margin-top: var(--px-20);
}

.form-group {
  margin-bottom: var(--px-16);
}

.form-row {
  display: flex;
  gap: var(--px-16);
}

input,
select {
  width: 100%;
  padding: var(--px-10);
  border-radius: var(--px-12);
  border: 1px solid #ccc;
}

.required {
  color: red;
}

.btn-save-userinfo {
  width: 100%;
  padding: var(--px-12);
  background: #ccc;
  color: white;
  border: none;
  border-radius: var(--px-10);
  font-weight: bold;
  cursor: not-allowed;
}

.btn-save-userinfo:not(:disabled) {
  background: #0f9d58;
  cursor: pointer;
}
/* end css popup content info */

@media (max-width: 768px) {
  .day-name {
    min-width: 44px;
    font-size: 16px;
    padding: var(--px-8) var(--px-12);
  }
  .calendar {
    width: 100%;
    padding: 12px;
  }
  .container-choose-time .line-ca-ti {
    width: 100%;
    height: 1px;
  }
  .timeslot {
    width: 100%;
    min-height: 600px;
  }
  .time-slot-1 span:first-child {
    font: normal normal 500 var(--s-12);
  }
  .time-slot-1 span {
    font: normal normal 500 var(--s-12);
  }
  .time-slot-1 {
    padding: 12px;
  }
  .slot-group-content {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .container-choose-time .calendar-grid {
    gap: 2px;
  }
  .day.past {
    font: normal normal 500 var(--s-16);
  }
  .day.active {
    font: normal normal 500 var(--s-16);
  }
  .day {
    font: normal normal 500 var(--s-16);
  }
  .title-appointment h2 {
    font: normal normal 500 var(--s-16);
  }
  .appointment-input {
    font: normal normal 500 var(--s-14);
  }
  .consent-container label {
    font: normal normal 500 var(--s-16);
  }
  .popup-wrap-verify-emailPhone {
    padding: 24px 16px 16px 16px;
  }
  .title-payment {
    font: normal normal 600 var(--s-16);
  }
  .wrap-popup-payment-methods .subtitle .subtitle-text {
    font: normal normal 500 var(--s-14);
  }
  .add-new-card-btn-1 {
    font: normal normal 500 var(--s-16);
  }
  .payment-method-item {
    height: 48px;
  }
  .sub-deposit-1r {
    font: normal normal 500 var(--s-16);
  }
  .sub-deposit-1l {
    font: normal normal 500 var(--s-16);
  }
  .cur-deposit {
    align-items: center;
  }
  .clear-icon {
    height: 24px;
    top: 23px;
  }
  .wrap-name-method {
    gap: 0px;
  }
  .wrap-popup-payment-methods,
  .wrap-popup-policies {
    padding: 24px 16px 16px 16px;
  }
}
