.container-home-template {

}
.wrap-home-templates {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
}

.wrap-header {
    height: var(--px-84);
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 999999;
    background: white;
    padding: 0px var(--px-24);
}

.nav-header-web {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    gap: var(--px-256);
}

.wrap-logo-nav-web {
    height: var(--px-84);
}

    .wrap-logo-nav-web .img-logo {
        height: 100%;
    }

.left-nav-web {
    height: var(--px-48);
    display: flex;
    align-items: center;
    gap: var(--px-10);
    flex: 1 0 0;
}

.list-option {
    height: 100%;
    display: flex;
    flex: 1;
}

    .list-option button {
        position: relative;
        flex: 1 0 0;
        font: normal normal 500 var(--s-16);
        color: var(--text-color-primary);
        background: white;
        border: none;
        overflow: hidden;
    }

        .list-option button::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: var(--color-active, #04972f);
            width: 0px;
            transition: width 0.3s ease;
        }

        .list-option button:hover {
            color: var(--color-active, #04972f);
        }

            .list-option button:hover::after {
                width: 20px;
            }
        /* active */
        .list-option button.active {
            color: var(--color-active, #04972f);
        }

            .list-option button.active::after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                background-color: var(--color-active, #04972f);
                width: 20px;
            }

.wrap-home-templates .cart-profile {
    height: 100%;
    width: var(--px-272);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: var(--px-10);
}
    .cart-profile .right-profile {
        height: 100%;
        display: flex;
        align-items: center;
        gap: var(--px-24);
        width: var(--px-228);
    }

    .cart-profile .booking {
        display: flex;
        width: var(--px-116);
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: var(--btn-border, 1px solid #04972f);
        background: var(--btn-bg, #0c7e2d);
        color: var(--btn-color, white);
        font: normal normal 400 var(--s-13);
    }

.cart-user {
    display: flex;
    width: var(--px-88);
    height: 100%;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid var(--Gray-Neutral-90, #e5e5e5);
}

    .cart-user button {
        width: var(--px-32);
        height: var(--px-32);
        padding: 0px !important;
        font: normal normal 500 var(--s-12);
        color: #061315;
        background: white;
        border: none;
    }
        .cart-user button svg {
            width: 100%;
            height: 100%;
        }

        .cart-user .quantity-prod {
            display: flex;
            width: var(--px-32);
            height: var(--px-32);
            padding: 6px 4px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 100%;
            background: var(--bgColorQa, #ea001e);
            color: var(--colorQa, white);
            font: normal normal 700 var(--s-16);
        }

.cart-profile .user {
    height: var(--px-24);
    width: var(--px-24);
    display: flex;
    flex-shrink:0;
    position: relative;
    padding: 0px !important;
    font: normal normal 500 var(--s-16);
    color: #061315;
    background: white;
    border: none;
}
    .cart-profile .user svg {
        width: 100%;
        height: 100%;
    }

    .cart-profile .booking {
        height: var(--px-32);
    }

    .cart-profile .booking:hover {
        background: var(--btn-bg-hover, #b1c9b8);
    }

.cart-profile .user::after {
    content: '';
    position: absolute;
    left: -4px;
    height: var(--px-24);
    width: 1px;
    background: #939393;
}


.wrap-home-templates .wrap-advertise-page {
    width: 100%;
    min-height: var(--px-136);
    max-height: var(--px-136);
    height: var(--px-136);
    position: sticky;
    top: var(--px-84);
    z-index: 999999;
    background-color: white;
    overflow: hidden;
}

.wrap-home-templates .advertise {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 28px 0px;
    overflow: hidden;
}

.wrap-home-templates .wrap-advertise-page.hide {
    display: none;
}

.wrap-home-templates .advertise .advertise-bg-1 {
    display: flex;
    width: 105%;
    height: var(--px-68);
    transform: rotate(-2deg);
    padding: 28px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    background: var(--bg-advertise1, #0c7e2d);
    position: absolute;
    left: calc(-1 * var(--px-12));
    top: var(--px-32);
}

.wrap-home-templates .advertise .advertise-bg-2 {
    display: flex;
    width: 100%;
    height: var(--px-80);
    padding: 24px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    background: var(--bg-adverstise2, #e27303);
    position: relative;
    z-index: 2;
}

.wrap-home-templates .advertise-bg-2 p {
    margin: 0;
    color: var(--color-content, white);
    font-size: var(--s-16);
}

.wrap-home-templates .advertise-bg-2 .text-advertise {
    font-weight: var(--text-weight-ad, 500);
}

.wrap-home-templates .advertise .sign-in {
    width: 20% !important;
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: var(--border-signin, 1px solid #04972f);
    background: var(--bgColor-signin, #0c7e2d);
    font: normal normal 500 var(--s-13);
    color: var(--text-color-signin, white);
    cursor: pointer;
}

    .wrap-home-templates .advertise .sign-in:hover {
        background: var(--bgColor-signin-hover, #b1c9b8);
    }

.wrap-home-templates .content-banner {
    height: var(--px-900);
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: var(--px-12);
    padding: 16px 64px 0px 64px;
}
.wrap-home-templates .wrap-content-left-banner {
    width: 42%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

    .wrap-content-left-banner .welcome-to {
        color: var(--text-color-primary);
        font: normal normal 400 var(--s-20);
    }

    .wrap-content-left-banner .hight-text-banner {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

        .wrap-content-left-banner .hight-text-banner .text-mountains-christmas {
            color: #e28b01;
            font-family: 'Mountains of Christmas' !important;
            font: normal normal 700 var(--s-48);
            line-height: 43px;
        }

        .wrap-content-left-banner .hight-text-banner .time-relax {
            color: var(--text-color-primary);
            font: normal normal 500 var(--s-48);
            line-height: 43px;
        }

        .wrap-content-left-banner .hight-text-banner .text-content-banner {
            color: var(--text-color-primary);
            font: normal normal 300 var(--s-16);
        }

.wrap-home-templates .book-appoint {
    display: flex;
    flex-direction: row;
    gap: var(--px-20);
}
    .wrap-home-templates .book-appoint .text-book-for {
        color: var(--text-color-primary);
        font: normal normal 600 var(--s-20);
        display: flex;
        align-items: center;
        padding: 12px 24px;
        gap: 4px;
    }

    .book-appoint .book-for {
        color: var(--text-color-primary);
        font: normal normal 600 var(--s-20);
        display: flex;
        align-items: flex-start;
        gap: 4px;
    }

    .book-appoint .btn-just-me {
        display: flex;
        width: var(--px-184);
        height: var(--px-48);
        gap: 4px;
        padding: 8px 24px;
        justify-content: space-around;
        align-items: center;
        border-radius: 12px;
        border: var(--border-book-for, 1px solid #04972f);
        background: var(--bg-book-for, #0c7e2d);
        color: var(--color-book-for, white);
        font: normal normal 500 var(--s-20);
    }
.wrap-content-left-banner .img-banner-left {
    position: absolute;
}
    .wrap-content-left-banner .img-banner-left .img-booking-left-1 {
        width: var(--px-336);
        height: var(--px-336);
        position: absolute;
        top: var(--px-196);
        left: calc(-1 * var(--px-112));
    }
    
    .wrap-content-left-banner .img-banner-left .img-booking-left-2 {
        width: var(--px-332);
        height: var(--px-124);
        position: absolute;
        top: var(--px-394);
        left: calc(-1 * var(--px-112));
    }

    .wrap-home-templates .img-banner-booking {
        position: relative;
        width: 50%;
    }

.img-banner-booking .img-booking-1 {
    width: var(--px-582);
    height: var(--px-582);
    position: absolute;
    top: var(--px-108);
    left: var(--px-96);
}

.img-banner-booking .img-booking-2 {
    width: var(--px-496);
    height: var(--px-488);
    position: absolute;
    top: calc(-1 * var(--px-36));
    left: var(--px-144);
}

.img-banner-booking .img-booking-3 {
    width: var(--px-672);
    height: var(--px-252);
    position: absolute;
    bottom: var(--px-228);
    left: calc(-1 * var(--px-32));
}