@page "/client-profile"
@model OnlineStore.Pages.ClientProfileModel
@{
    ViewData["Title"] = "Client profile";
}

<link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/paddingmargin.css" asp-append-version="true"/>
<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

@section Styles {
    <!-- page specific css -->
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    <script type="module" src="~/js/client-profile/client-profile.js"></script>
}

<div class="wrap-newonline">
    <!-- Nội dung -->
</div>
