@page
@model OnlineStore.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-custom-booking d-flex">
    <div class="header-custom-booking  pt-4 px-8">
        <i class="fa-solid fa-arrow-left icon-left-booking"></i>
        <h3 class="text-uppercase title-booking mb-0">Custom online booking</h3>
    </div>
    <div class="container-templates w-100 px-8">
        <div class="wrap-header-templates d-flex justify-content-between mt-4">
            <h4 class="text-uppercase header-templates-left mb-0">Templates</h4>
            <div class="d-flex align-items-center gap-2">
                <h5 class="header-templates-right mb-0">Templates gallery</h5>
                <i id="icon-templates-gallery" class="fa-solid fa-chevron-down rotate-transition"></i>
            </div>
        </div>
        <div class="wrap-list-templates mb-4">
            <div class="gird-4">
                <div class="wrap-item-templates">
                    <div class="image-templates">
                        <img src="./assets/images/retro.png" alt="Image retro" class="img-original" />
                    </div>
                    <div class="info-templates">
                        <p class="title-item-templates mb-0"> Restro</p>
                        <span class="subtitle-item-templates">Classic and modern style</span>
                    </div>
                </div>
                <div class="wrap-item-templates">
                    <div class="image-templates">
                        <img src="./assets/images/pastel.png" alt="Image pastel" class="img-original" />
                    </div>
                    <div class="info-templates">
                        <p class="title-item-templates mb-0"> Pastel</p>
                        <span class="subtitle-item-templates">Popular style</span>
                    </div>
                </div>
                <div class="wrap-item-templates">
                    <div class="image-templates">
                        <img src="./assets/images/neon.jpg" alt="Image neon" class="img-original" />
                    </div>
                    <div class="info-templates">
                        <p class="title-item-templates mb-0"> Neon</p>
                        <span class="subtitle-item-templates">Classic and modern style</span>
                    </div>
                </div>
                <div class="wrap-item-templates">
                    <div class="image-templates">
                        <img src="./assets/images/vintage.png" alt="Image vintage" class="img-original" />
                    </div>
                    <div class="info-templates">
                        <p class="title-item-templates mb-0"> Restro</p>
                        <span class="subtitle-item-templates">Cclassic and modern style</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-deploy w-100 px-8 pb-8">
        <div class="wrap-list-deploy">
            <div class="wrap-search-recent d-flex justify-content-between">
                <h4 class="text-uppercase header-templates-left mb-0">Recent</h4>
                <div class="search-filter-recent">
                    <div class="left-search-filter">
                        <div class="search-recent">
                            <input placeholder="Search item" />
                            <div class="btn-search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                    fill="none">
                                    <path
                                        d="M11.5 21.0605C16.7467 21.0605 21 16.8073 21 11.5605C21 6.31384 16.7467 2.06055 11.5 2.06055C6.25329 2.06055 2 6.31384 2 11.5605C2 16.8073 6.25329 21.0605 11.5 21.0605Z"
                                        stroke="#444444" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M22 22.0605L20 20.0605" stroke="#444444" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                        <div class="filter-recent">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                fill="none">
                                <path
                                    d="M5.39844 2.16016H18.5984C19.6984 2.16016 20.5984 3.06016 20.5984 4.16016V6.36016C20.5984 7.16016 20.0984 8.16016 19.5984 8.66016L15.2984 12.4602C14.6984 12.9602 14.2984 13.9602 14.2984 14.7602V19.0602C14.2984 19.6602 13.8984 20.4602 13.3984 20.7602L11.9984 21.6602C10.6984 22.4602 8.89844 21.5602 8.89844 19.9602V14.6602C8.89844 13.9602 8.49844 13.0602 8.09844 12.5602L4.29844 8.56016C3.79844 8.06016 3.39844 7.16016 3.39844 6.56016V4.26016C3.39844 3.06016 4.29844 2.16016 5.39844 2.16016Z"
                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M10.93 2.16016L6 10.0602" stroke="black" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-infor">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th class="col-large text-uppercase px-4 py-3">Name</th>
                        <th class="col-large text-uppercase px-4 py-3">Domain</th>
                        <th class="col-large text-uppercase px-4 py-3">
                            <span class="mr-2">
                                Create date
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <path d="M9.37188 5.66052L6.27185 2.56055L3.17188 5.66052" stroke="#747474"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.27344 17.5605V2.56055" stroke="#747474" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.9531 14.4609L15.0532 17.5609L18.1531 14.4609" stroke="#747474"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.0547 2.56055V17.5605" stroke="#747474" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </th>
                        <th class="col-small text-uppercase px-4 py-3">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="item-name px-4 py-3">Retro</td>
                        <td class="domain-item px-4 py-3">http://www.websiteretro.com</td>
                        <td class="date-item px-4 py-3">May 15, 2025</td>
                        <td class="status-item public d-flex align-items-center justify-content-between pa-3">
                            <span class="py-1 px-6">Publish</span>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="item-name px-4 py-3">Pastel</td>
                        <td class="domain-item px-4 py-3">http://www.websitepastel.com</td>
                        <td class="date-item px-4 py-3">May 20, 2025</td>
                        <td class="status-item draft d-flex align-items-center justify-content-between pa-3">
                            <span class="py-1 px-6">
                                Draft
                            </span>
                            <i class="fa-solid fa-ellipsis-vertical"></i>

                        </td>
                    </tr>
                    <tr>
                        <td class="item-name px-4 py-3">Neon</td>
                        <td class="domain-item px-4 py-3">http://www.websiteretro.com</td>
                        <td class="date-item px-4 py-3">May 25, 2025</td>
                        <td class="status-item draft d-flex align-items-center justify-content-between pa-3">
                            <span class="py-1 px-6">
                                Draft
                            </span>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="item-name px-4 py-3">Retro</td>
                        <td class="domain-item px-4 py-3">http://www.websitepastel.com</t>
                        <td class="date-item px-4 py-3">May 30, 2025</td>
                        <td class="status-item draft d-flex align-items-center justify-content-between pa-3">
                            <span class="py-1 px-6">
                                Draft
                            </span>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    <script type="module" src="~/js/site.js"></script>
}