@page "{id:int}"
@model OnlineStore.Pages.TemplatesModel
@{
    ViewData["Title"] = "Template Detail";
    var id = Model.TemplateId;
}


<link rel="stylesheet" href="~/css/templateDetail.css" />
<link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/paddingmargin.css" asp-append-version="true"/>
<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">

<div class="container-home-template">
    <div class="wrap-home-templates">
    </div>
    <button
        class="scroll-btn-main"
        data-trigger-banner="#triggerBlockSumary"
        data-trigger="#triggerBlockSumary"
        data-target="#targetBlockBanner"
        data-text="Scroll to Banner"
        data-icon="fa-solid fa-down-long"
        style="display: none; position: fixed; bottom: 20px; right: 20px; z-index: 999;"
    >
        <span class="icon-control-scroll">
            <i class="fa-solid fa-down-long"></i>
        </span>
        <span class="text-control-scroll">
            Scroll To Banner
        </span>
    </button>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    <script type="module" src="@Url.Content("~/js/templateDetail.js")"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/templateDetail.css" />
}

