@page "{id:int}"
@model OnlineStore.Pages.TemplatesModel
@{
    ViewData["Title"] = "Template Detail";
    var id = Model.TemplateId;
}

<link rel="stylesheet" href="~/css/templateDetail.css" />
<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">

<div class="container-home-template">
    <div class="wrap-home-templates">
    </div>
</div>